# General VC
*.user
*.suo
*.filters
*.sdf
*.opensdf
*.aps

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# /libdash/
/libdash/Debug
/libdash/intermediate
/libdash/ipch

# /libdash/bin/
/libdash/bin/*.dll
/libdash/bin/*.exe
/libdash/bin/*.exp
/libdash/bin/*.ilk
/libdash/bin/*.lib
/libdash/bin/*.pdb
/libdash/bin/*.vh4
/libdash/bin/*.txt

# /libdash/sampleplayer/
/libdash/sampleplayer/log.txt

# /libdash/qtsampleplayer/
/libdash/qtsampleplayer/GeneratedFiles

.metadata
build
