@import url('reset.css');

/* General Demo Style */
body {
  background: #e6eecc url(../media/header.jpg) no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #333;
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 16px;
  background-size: cover;
}

p {
  text-align: justify;
  margin-top: 10px;
}

li span {
  color: #666;
}

.container {
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

p a {
  color: #0099c5;
  text-decoration: underline;
}

.clr {
  clear: both;
}

.content {
  position: relative;
}

h1 {
  margin: 0px;
  padding: 20px;
  font-size: 32px;
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

h1 span {
  display: block;
  font-size: 14px;
  color: #666;
  padding-top: 5px;
}

h1 span a {
  color: blue;
  text-decoration: underline;
}

h2 span {
  font-size: 14px;
}

h3 {
  text-align: justify;
}

/* back Button */
#back-button {
  display: block;
  height: 25px;
  border: 2px solid #f5f5f5;
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  font-size:14px;
  background: none;
  color: #666;
}

#back-button:hover {
  color:#333;
  background: #fff;
}

/* Player Style */
.bitdash-html5-player-video-container {
  box-shadow: 0 0 30px rgba(0,0,0,1);
}

.player-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

#missing-key-warning{
  width: 60%;
  background-color: rgba(255,0,0,0.6);
  display: none;
  margin: 20px auto;
  height: 100%;
  position: relative;
  min-width: 260px;
  padding: 10px;
}

/* Description Style */
.description {
  text-align: justify;
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  display: block;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.demo-description {
  list-style-type: square;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* Header Style */
.header {
  font-family: 'Arial Narrow', Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -moz-box-shadow: 1px 0px 2px #000;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000;
}

.header a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #ddd;
  display: block;
  float: left;
}

.header a:hover {
  color: #fff;
}

.header span.right {
  float: right;
}

.header span.right a {
  float: none;
  display: inline;
}

.more {
  position: relative;
  clear: both;
  font-size: 11px;
  padding: 20px 0px;
  text-transform: uppercase;
  width: 390px;
  height: 55px;
  margin: 0 auto;
}

.more ul {
  display: block;
  text-align: center;
}

.more ul li {
  display: block;
  padding: 4px 2px;
  float: left;
}

.more ul li.selected a,
.more ul li.selected a:hover {
  background: #0099c5;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}

.more ul li a {
  color: #555;
  float: left;
  background: #fff;
  width: 64px;
  padding: 2px 5px;
  -moz-box-shadow: 1px 1px 2px #aaa;
  -webkit-box-shadow: 1px 1px 2px #aaa;
  box-shadow: 1px 1px 2px #aaa;
}

.more ul li a:hover {
  background: #000;
  color: #fff;
}
